body, html {
    height: 100%;
}


.bg {
    background-image: url("../images/stage.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    
    margin: 10px;
    
    color: black; 
    text-align: center;
    font-family: 'New Rocker', cursive;
}

#title {
    background-color: rgb(71, 72, 206, 0.3);
    border-radius: 500px 500px 500px 500px;
    color: black; 
    text-align: center;
    font-family: 'New Rocker', cursive;
    font-size: 72px;
    margin-top: 10px;
}

#images {
    background-color: transparent;
    border-radius: 10px 10px 150px 150px;
    padding-top: 20px;
    
}



#cher {
    display: block; 
    margin: auto;
    float: left;
    padding: 20px;
}

#cornell {
   
    display: block; 
    margin: auto;
    float: left;
    padding: 20px;
}

#plant {
    display: block; 
    margin: auto;
    padding: 20px;
    float: left;
}

#freddie {
    display: block; 
    margin: auto;
    float: left;
    padding: 20px;    
}

#smallbg-1 {
    
    background-color: transparent;
    border-radius: 10px 150px 10px 150px;
    padding-top: 20px;
    font-size: 18px;
    border-style: ridge;
    border-color: black;
    border-width: 2px;
}

#smallbg-2 {
    
    background-color: transparent;
    border-radius: 150px 10px 150px 10px;
    padding-top: 20px;
    font-size: 18px;
    border-style: ridge;
    border-color: black;
    border-width: 2px;
}
#nobg {
    background-color: transparent;
}

#headbang {
    width: 156px;
    height: 170px;
    display: block; 
    margin: auto;
}

#instructions {
    
    background-color: rgb(71, 72, 206, 0.3);
    border-radius: 150px 150px 150px 150px;
    font-size: 18px;
}

#video {
    background-color: transparent;
}